body {
  margin: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  font-size: 2rem;
  margin-top: 2rem;
}

label {
  font-size: 1.8rem;
  font-weight: 600;
}

input,
select {
  font-size: 1.3rem;
  font-weight: 500;
  height: 2rem;
  width: 20%;
  border-radius: 7px;
}
